@import '../../../../styles/theming/colors';

h1 {
    text-align: center;
    margin-bottom: 24px;
}

.id-tutor-field {
    width: 70%;
    margin-bottom: 16px;
}

.pet-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 70%;

    .form {
        display: flex;
        justify-content: center;
        gap: 16px;

        .field {
            flex: 1;
        }
    }

    .duplicate-name-error {
        color: #cc0000;
    }

    .form-actions {
        display: flex;
        gap: 16px;
        justify-content: center;
        text-align: center;
    }
}

::ng-deep .duplicate-name-error .mdc-notched-outline__leading {
    border-color: $custom-warn !important;
}

::ng-deep .duplicate-name-error .mdc-notched-outline__notch {
    border-color: $custom-warn !important;
}

::ng-deep .duplicate-name-error .mdc-notched-outline__trailing {
    border-color: $custom-warn !important;
}