<div class="container">
  <h1>Cadastrar novo tutor</h1>
  <form (ngSubmit)="tutorResgiterSubmit()" [formGroup]="tutorForm" class="tutor-form">
    <mat-form-field appearance="outline" class="field" color="accent" [class.duplicate-name-error]="duplicateName">
      <mat-label>Nome</mat-label>
      <input matInput id="name" formControlName="name" (blur)="checkDuplicateName()">
      <mat-error *ngIf="tutorForm.get('name')?.errors?.['required'] && tutorForm.get('name')?.touched">O nome do tutor
        é
        obrigatório.
      </mat-error>
      <mat-hint *ngIf="checkName" class="spinner-hint"><mat-spinner diameter="16"></mat-spinner> Verificando duplicidade...</mat-hint>
      <mat-hint *ngIf="duplicateName" class="duplicate-name-error">Tutor ja cadastrado</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field" color="accent">
      <mat-label>Apelido</mat-label>
      <input matInput formControlName="nickName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="field" color="accent">
      <mat-label>Data de nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="form-actions">
      <button mat-flat-button type="submit" color="primary">Confirmar</button>
    </div>
  </form>
</div>